QtOsgBridge--QtOsgWidget QPushButton,
QtOsgBridge--QtOsgWidget QRadioButton
{
  margin: 0px;
  padding: 0px;
  border: 10px solid transparent;
  border-image: url(./GameData/ui/button_normal.png) 10px stretch;
  color: #000;
}

QtOsgBridge--QtOsgWidget QPushButton:hover,
QtOsgBridge--QtOsgWidget QRadioButton:hover
{
  border-image: url(./GameData/ui/button_hover.png) 10px stretch;
}

QtOsgBridge--QtOsgWidget QPushButton:pressed,
QtOsgBridge--QtOsgWidget QRadioButton:pressed
{
  border-image: url(./GameData/ui/button_pressed.png) 10px stretch;
}

QtOsgBridge--QtOsgWidget QPushButton:checked,
QtOsgBridge--QtOsgWidget QRadioButton:checked
{
  border-image: url(./GameData/ui/button_pressed.png) 10px stretch;
}

QtOsgBridge--QtOsgWidget QPushButton:disabled,
QtOsgBridge--QtOsgWidget QRadioButton:disabled
{
  border-image: url(./GameData/ui/button_disabled.png) 10px stretch;
}

QtOsgBridge--QtOsgWidget QRadioButton::indicator
{
  image: none;
  width: 0px;
  height: 0px;
}

QtOsgBridge--QtOsgWidget QLabel#LabelLoadingText
{
  color: #fff;
  font-size: 20pt;
  margin: 10px;
}

QtOsgBridge--QtOsgWidget QPushButton#ButtonMainMenu
{
  min-width: 400px;
  min-height: 45px;
  max-width: 400px;
  max-height: 45px;
}
