QPushButton
{
  border-width: 10px;
  border-image: url(./GameData/ui/button_normal.png) 10px 10px 10px 10px stretch stretch;
}

QPushButton:hover
{
  border-image: url(./GameData/ui/button_hover.png) 10px 10px 10px 10px stretch stretch;
}

QPushButton:pressed
{
  border-image: url(./GameData/ui/button_pressed.png) 10px 10px 10px 10px stretch stretch;
}

QPushButton:disabled
{
  border-image: url(./GameData/ui/button_disabled.png) 10px 10px 10px 10px stretch stretch;
}

QLabel#LabelLoadingText
{
  color: #fff;
  font-size: 20pt;
  margin: 10px;
}

QPushButton#ButtonMainMenu
{
  min-width: 400px;
  min-height: 45px;
  max-width: 400px;
  max-height: 45px;
}
