onep--SkillsWidget QFrame#FrameContent
{
  margin: 100px 100px 100px 100px;
  padding: 0px;
  border: 4px solid transparent;
  border-image: url(./GameData/ui/window_frame_1.png) 4px stretch;
}
